<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
{% if loaded %}
	{% if not rainData.hasData %}
		<div class="small title bright">Pas de données disponibles</div>
	{% elif not rainData.hasRain %}
		<div class="small title bright">Pas de pluie prévue dans l'heure</div>
	{% else %}
		{% if config.showText %}
			<!-- Text rain forecast -->
			<div class="small title bright">{{ rainData.rainText }}</div>
		{% endif %}	

		{% if config.showGraph %}
			<!-- Graph rain forecast -->
			<div class="timeline">
				<table>
					<tr>
						{% for rainPlot in rainData.rainGraph  %}
							<td class={{ "raining" if rainPlot.rain_intensity >= 4 }}></td>
						{% endfor %}
					</tr>
					<tr>
						{% for rainPlot in rainData.rainGraph  %}
							<td class={{ "raining" if rainPlot.rain_intensity >= 3 }}></td>
						{% endfor %}
					</tr>
					<tr>
						{% for rainPlot in rainData.rainGraph  %}
							<td class={{ "raining" if rainPlot.rain_intensity >= 2 }}></td>
						{% endfor %}
					</tr>

					<tr class="hours">
						{% for timePlot in rainData.rainGraphTimes  %}
							<td><span class="xsmall light">{{ timePlot }}</span></td>
						{% endfor %}
					</tr>
				</table>
			</div>	
		{% endif %}
	{% endif %}
{% else %}
	<div class="dimmed light small">{{ "LOADING" | translate }}</div>
{% endif %}