.MMM-RainForecast-FR {
    font-size: 18px;
}
.MMM-RainForecast-FR .rainFcTable {
    border-collapse: collapse !important;
}
.MMM-RainForecast-FR .rainFcTable tr {
    height: 15px;
    border-top: 1px solid #000;
}
.MMM-RainForecast-FR .rainFcTable td {
    width: 40px;
}
.MMM-RainForecast-FR .rainFcHours td {
    font-size: 14px;
    text-align: left !important;
}
.MMM-RainForecast-FR .rainFcHours td span {
    margin-left: -14px;
}
.MMM-RainForecast-FR .raining {
    background-color: #fff;
}
