<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div class="MMM-RainForecast-FR small light">
	{% if not rainData.hasData %}
		Pas de données disponibles
		
	{% elif not rainData.hasRain %}
		Pas de pluie prévue dans l'heure

	{% else %}
		{% if showText %}
			<!-- Text rain forecast -->
			{{ rainData.rainText }}
			<br/>
		{% endif %}	

		{% if showGraph %}
			<!-- Graph rain forecast -->
			<table class="rainFcTable">
				<tr>
					{% for rainPlot in rainData.rainGraph  %}
						<td class={{ "raining" if rainPlot.rain >= 4 }}></td>
					{% endfor %}
				</tr>
				<tr>
					{% for rainPlot in rainData.rainGraph  %}
						<td class={{ "raining" if rainPlot.rain >= 3 }}></td>
					{% endfor %}
				</tr>
				<tr>
					{% for rainPlot in rainData.rainGraph  %}
						<td class={{ "raining" if rainPlot.rain >= 2 }}></td>
					{% endfor %}
				</tr>

				<tr class="rainFcHours">
					{% for timePlot in rainData.rainGraphTimes  %}
						<td><span>{{ timePlot }}</span></td>
					{% endfor %}
				</tr>
			</table>	
		{% endif %}
	{% endif %}
</div>
